In [1]:
import pandas as pd
import numpy as np
import random
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.endpoints import playerindex
l=playerindex.PlayerIndex()

In [11]:
from nba_api.stats.static import players
data=players.get_players()
full_player=pd.DataFrame(data)
full_player=full_player[full_player['is_active']==True]

In [2]:
player=l.get_data_frames()[0]
player=player[['PERSON_ID','PLAYER_FIRST_NAME','PLAYER_LAST_NAME','TEAM_NAME']]

In [3]:
player

     PERSON_ID PLAYER_FIRST_NAME PLAYER_LAST_NAME  TEAM_NAME
0      1630173          Precious          Achiuwa    Raptors
1       203500            Steven            Adams  Grizzlies
2      1628389               Bam          Adebayo       Heat
3      1630534             Ochai           Agbaji       Jazz
4      1630583             Santi           Aldama  Grizzlies
..         ...               ...              ...        ...
536     201152          Thaddeus            Young    Raptors
537    1629027              Trae            Young      Hawks
538    1630209              Omer        Yurtseven       Heat
539     203469              Cody           Zeller       Heat
540    1627826             Ivica            Zubac   Clippers

[541 rows x 4 columns]

In [12]:
full_player.rename(columns={'id':'PERSON_ID'},inplace=True)

## Score

In [20]:
regular_season_score=[]
for i in player['PERSON_ID'].tolist():
    regular_season_score.append(playercareerstats.PlayerCareerStats(player_id=i).get_data_frames()[1].loc[0,'PTS'])

SSLError: HTTPSConnectionPool(host='stats.nba.com', port=443): Max retries exceeded with url: /stats/playercareerstats?LeagueID=&PerMode=Totals&PlayerID=1630792 (Caused by SSLError(SSLEOFError(8, 'EOF occurred in violation of protocol (_ssl.c:1129)')))

In [30]:
len(regular_season_score)

541

In [29]:
#Continue Retrieving
for i in range(455,541):
    id=player.loc[i,'PERSON_ID']
    regular_season_score.append(playercareerstats.PlayerCareerStats(player_id=id).get_data_frames()[1].loc[0,'PTS'])

In [31]:
player['regular_season_TotalScore']=regular_season_score

In [61]:
# [3] is the total playoff socre df
playoff_score=[]
for i in player['PERSON_ID'].tolist():
    df=playercareerstats.PlayerCareerStats(player_id=i).get_data_frames()[3]
    if(df.empty):
        playoff_score.append(0)
    else:
        playoff_score.append(df.loc[0,'PTS'])

In [62]:
len(playoff_score)

541

In [119]:
# Continue Retreiving if needed
'''
player.loc[54,'PERSON_ID']
for i in range(524,541):
    id=player.loc[i,'PERSON_ID']
    df=playercareerstats.PlayerCareerStats(player_id=id).get_data_frames()[3]
    if(df.empty):
        playoff_score.append(0)
    else:
        playoff_score.append(df.loc[0,'PTS'])
'''

In [63]:
player['playoff_TotalScore']=playoff_score

In [69]:
player['Total_Score']=player['regular_season_TotalScore']+player['playoff_score_total']

In [74]:
active_player_list=player.merge(full_player,how='right',on='PERSON_ID')
active_player_list=active_player_list[['PERSON_ID','full_name','first_name','last_name','TEAM_NAME','regular_season_TotalScore','playoff_TotalScore','Total_Score']]

In [75]:
active_player_list

,PERSON_ID,full_name,first_name,last_name,TEAM_NAME,regular_season_TotalScore,playoff_TotalScore,Total_Score
0,1630173,Precious Achiuwa,Precious,Achiuwa,Raptors,1476.0,68.0,1544.0
1,203500,Steven Adams,Steven,Adams,Grizzlies,6518.0,509.0,7027.0
2,1628389,Bam Adebayo,Bam,Adebayo,Heat,6146.0,1095.0,7241.0
3,1630534,Ochai Agbaji,Ochai,Agbaji,Jazz,467.0,0.0,467.0
4,1630583,Santi Aldama,Santi,Aldama,Grizzlies,828.0,39.0,867.0
...,...,...,...,...,...,...,...,...
530,201152,Thaddeus Young,Thaddeus,Young,Raptors,14088.0,542.0,14630.0
531,1629027,Trae Young,Trae,Young,Hawks,8990.0,713.0,9703.0
532,1630209,Omer Yurtseven,Omer,Yurtseven,Heat,339.0,29.0,368.0
533,203469,Cody Zeller,Cody,Zeller,Heat,4300.0,113.0,4413.0
534,1627826,Ivica Zubac,Ivica,Zubac,Clippers,3819.0,291.0,4110.0

In [81]:
#data random validation
def test(l):
    for i in l:
        id = active_player_list.loc[i,'PERSON_ID']
        df_reg=playercareerstats.PlayerCareerStats(player_id=id).get_data_frames()[1]
        #df_off=playercareerstats.PlayerCareerStats(player_id=id).get_data_frames()[3]
        if (active_player_list.loc[i,'regular_season_TotalScore'] != df_reg.loc[0,'PTS']):
            return False
    return True

In [84]:
random_list = random.sample(range(1, 501), 5)
test(random_list)

True

## Salary

In [126]:
pg=pd.read_csv('src/PG.csv')
sg=pd.read_csv('src/SG.csv')
sf=pd.read_csv('src/SF.csv')
pf=pd.read_csv('src/PF.csv')
c=pd.read_csv('src/C.csv')
active_player_salary=pd.concat([pg,sg,sf,pf,c])

In [128]:
active_player_salary.dropna(how='any')

                Unnamed: 0    Unnamed: 1
8               Chris Paul  $389,909,419
9            Stephen Curry  $354,721,977
10       Russell Westbrook  $340,265,800
11          Damian Lillard  $279,348,442
12              Kyle Lowry  $275,048,700
..                     ...           ...
420  Sandro Mamukelashvili    $2,377,423
425       Orlando Robinson    $1,801,769
430             Luka Garza      $925,258
435           Micah Potter       $53,176
440        Chance Comanche        $5,849

[472 rows x 2 columns]

In [86]:
active_player_salary.rename(columns={'Unnamed: 0':'full_name','Unnamed: 1':'Salary'},inplace=True)

In [100]:
money=active_player_salary['Salary'].str.replace('$','')
money=money.str.replace(',','')
money.tolist()

/var/folders/t4/g2w87qw154j05sg7m8hh2nx00000gn/T/ipykernel_45132/3582552877.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  money=active_player_salary['Salary'].str.replace('$','')

['389909419',
 '354721977',
 '340265800',
 '279348442',
 '275048700',
 '274127986',
 '270083674',
 '254083552',
 '166120847',
 '163018545',
 '155945859',
 '154378483',
 '149275194',
 '136469709',
 '132178909',
 '122254173',
 '115228300',
 '112353436',
 '110032562',
 '109148261',
 '108917826',
 '103296369',
 '102337423',
 '91531317',
 '89978794',
 '86790942',
 '85365412',
 '82027846',
 '81520846',
 '81018675',
 '74379608',
 '73625090',
 '71214269',
 '63088565',
 '61409999',
 '60104215',
 '58842940',
 '53702301',
 '49676633',
 '47556675',
 '41738951',
 '38630624',
 '35596275',
 '35552881',
 '34910931',
 '32337054',
 '31658280',
 '31101096',
 '30824951',
 '24739538',
 '24131515',
 '23869193',
 '23360347',
 '22414388',
 '21059090',
 '17878995',
 '17188836',
 '15887971',
 '14792140',
 '14500440',
 '14094745',
 '14034855',
 '13523560',
 '13246897',
 '12152560',
 '11292720',
 '10803948',
 '10449718',
 '10017385',
 '9770880',
 '9138840',
 '8970258',
 '8809320',
 '7723000',
 '6604800',
 '6480000',
 '6375120',
 '5291400',
 '4899614',
 '4530480',
 '4508482',
 '4461917',
 '4376016',
 '4324872',
 '4324872',
 '4094280',
 '3695040',
 '3463239',
 '2969706',
 '2881072',
 '2624040',
 '2572921',
 '2488776',
 '2463960',
 '2391965',
 '2175616',
 '2126058',
 '1708143',
 '116986',
 '337300574',
 '305332243',
 '267875552',
 '266164224',
 '215393598',
 '179769741',
 '166532853',
 '163589268',
 '145384369',
 '138406221',
 '124764581',
 '116895129',
 '110420336',
 '107078036',
 '106647660',
 '103374841',
 '103196758',
 '99166913',
 '91755507',
 '89186972',
 '82989323',
 '81070635',
 '75243787',
 '59480204',
 '59291442',
 '57359246',
 '56753167',
 '56470163',
 '55895624',
 '53848525',
 '50524936',
 '46274114',
 '45547463',
 '44271137',
 '43961324',
 '41916322',
 '38331417',
 '37546236',
 '37045726',
 '36904987',
 '36681577',
 '34011805',
 '33140147',
 '32468125',
 '31651339',
 '29895473',
 '29182447',
 '29083315',
 '28376898',
 '28325400',
 '28325178',
 '23013127',
 '21487995',
 '21110620',
 '20767320',
 '20278922',
 '18862440',
 '18593499',
 '18387953',
 '17891272',
 '16745706',
 '16056289',
 '14866680',
 '14503926',
 '13638019',
 '13502880',
 '13431350',
 '13086720',
 '12326760',
 '11901390',
 '11220840',
 '10055966',
 '9944923',
 '9861120',
 '9365734',
 '9000000',
 '8043000',
 '7977480',
 '7215217',
 '7116600',
 '6831360',
 '6543783',
 '6542160',
 '6414600',
 '6249619',
 '6000000',
 '5997480',
 '5757720',
 '5519051',
 '5094600',
 '5026800',
 '4890120',
 '4728240',
 '4536720',
 '4497480',
 '4399614',
 '4324872',
 '4310160',
 '4126848',
 '3889800',
 '396705024',
 '276566211',
 '268384749',
 '263249191',
 '257609827',
 '223072156',
 '199123175',
 '195171611',
 '185219886',
 '145606392',
 '138816877',
 '129477985',
 '123629296',
 '106365919',
 '103403518',
 '91808587',
 '84575543',
 '79181858',
 '73228101',
 '69175283',
 '62851988',
 '61680792',
 '61338891',
 '60070623',
 '58229023',
 '53707634',
 '51749155',
 '48846204',
 '44416626',
 '42797932',
 '39711220',
 '39254212',
 '32101641',
 '24004441',
 '21493334',
 '21333725',
 '20341348',
 '18960580',
 '18082087',
 '16922353',
 '16528895',
 '16528217',
 '16169712',
 '15774840',
 '15500150',
 '13774920',
 '13030303',
 '11810760',
 '10880400',
 '10658520',
 '10589449',
 '10322481',
 '9619560',
 '9368280',
 '9117373',
 '8900160',
 '8377680',
 '8216291',
 '8209867',
 '8032560',
 '7249080',
 '6968824',
 '6614280',
 '6399478',
 '6341464',
 '6250000',
 '6129593',
 '5351283',
 '4591920',
 '4563720',
 '4456874',
 '4000000',
 '3879599',
 '3571180',
 '3510600',
 '3218160',
 '3000000',
 '2786305',
 '2737645',
 '2737645',
 '2537160',
 '2448600',
 '2431080',
 '1801769',
 '1800000',
 '1600000',
 '1119563',
 '1119563',
 '1119563',
 '1119563',
 '1119563',
 '1119563',
 '1013119',
 '106352',
 '479466457',
 '248503505',
 '234477446',
 '201736696',
 '183158501',
 '177883613',
 '175197782',
 '151403318',
 '143163667',
 '134735074',
 '131448762',
 '120639285',
 '110373326',
 '109284617',
 '95356906',
 '92311260',
 '90526780',
 '84896280',
 '83221719',
 '82731952',
 '79418582',
 '78420039',
 '77666547',
 '74161504',
 '69484755',
 '60602717',
 '60486598',
 '60169578',
 '60094948',
 '53075567',
 '51442774',
 '49398634',
 '47732417',
 '47493857',
 '42557173',
 '40241891',
 '39906385',
 '35802767',
 '34167299',
 '25436520',
 '24652560',
 '24207681',
 '22933680',
 '22663200',
 '22118492',
 '21185084',
 '18417653',
 '18209160',
 '17219040',
 '16983177',
 '16417440',
 '15098193',
 '14349113',
 '14341763',
 '13483829',
 '12513127',
 '11802681',
 '11316160',
 '10910102',
 '10380480',
 '10090879',
 '9197868',
 '8727480',
 '8611486',
 '8574460',
 '7721280',
 '7412880',
 '6886320',
 '6249619',
 '6247560',
 '6059520',
 '5900000',
 '5569920',
 '5372315',
 '5306880',
 '4911096',
 '4649614',
 '4019706',
 '3089520',
 '2847480',
 '2733720',
 '2719864',
 '2413320',
 '1860248',
 '1836090',
 '1801769',
 '1119563',
 '1119563',
 '1119563',
 '1119563',
 '275636768',
 '269654140',
 '266608394',
 '258670680',
 '217207582',
 '214429387',
 '198124795',
 '197049673',
 '182267723',
 '174286584',
 '172857158',
 '157744832',
 '145098705',
 '135756944',
 '120221304',
 '116156744',
 '108178688',
 '104855232',
 '103154736',
 '101355751',
 '91895180',
 '89774883',
 '85812703',
 '81802767',
 '78835630',
 '77850952',
 '75501806',
 '75220309',
 '69886030',
 '60150630',
 '57747126',
 '50359925',
 '48886380',
 '48564833',
 '48292095',
 '45544215',
 '45235548',
 '43013782',
 '39619840',
 '39475239',
 '39140860',
 '38117603',
 '37964463',
 '36390937',
 '34038458',
 '31448477',
 '31355368',
 '28070356',
 '27625766',
 '26422143',
 '25867686',
 '24283492',
 '22722830',
 '22655097',
 '22242768',
 '20277240',
 '19023849',
 '18475449',
 '17688482',
 '16316785',
 '15098193',
 '14551356',
 '12435586',
 '12160680',
 '11632730',
 '11337581',
 '10488776',
 '10126320',
 '9912015',
 '9300602',
 '8937033',
 '8454960',
 '8175173',
 '7630200',
 '6531283',
 '6328680',
 '6282840',
 '6060161',
 '6000000',
 '5527560',
 '4775640',
 '4000000',
 '3565862',
 '3219864',
 '2377423',
 '1801769',
 '925258',
 '53176',
 '5849']

In [101]:
active_player_salary['int_value']=money

In [102]:
active_player_salary

                 full_name        Salary  int_value
8               Chris Paul  $389,909,419  389909419
9            Stephen Curry  $354,721,977  354721977
10       Russell Westbrook  $340,265,800  340265800
11          Damian Lillard  $279,348,442  279348442
12              Kyle Lowry  $275,048,700  275048700
..                     ...           ...        ...
420  Sandro Mamukelashvili    $2,377,423    2377423
425       Orlando Robinson    $1,801,769    1801769
430             Luka Garza      $925,258     925258
435           Micah Potter       $53,176      53176
440        Chance Comanche        $5,849       5849

[472 rows x 3 columns]

In [107]:
active_player_salary.to_csv('Salary.csv',index=False)

In [108]:
active_player_list.to_csv('Player.csv',index=False)

In [112]:
merged=active_player_list.merge(active_player_salary,how='right',on='full_name')

In [114]:
merged.dropna(inplace=True)

In [115]:
merged['PERSON_ID'].tolist()

[101108.0,
 201939.0,
 201566.0,
 203081.0,
 200768.0,
 201144.0,
 202681.0,
 201950.0,
 201565.0,
 1627732.0,
 1626156.0,
 201609.0,
 202704.0,
 1627750.0,
 201937.0,
 1627832.0,
 1628368.0,
 201588.0,
 1627763.0,
 1629029.0,
 1626179.0,
 1629027.0,
 203935.0,
 1628365.0,
 203915.0,
 201976.0,
 201988.0,
 1628983.0,
 202709.0,
 1629630.0,
 1627749.0,
 1629636.0,
 1626145.0,
 1628973.0,
 1628401.0,
 1629012.0,
 1626153.0,
 1628984.0,
 1630163.0,
 204456.0,
 1629632.0,
 1628420.0,
 1630595.0,
 1626166.0,
 1627739.0,
 1628373.0,
 1630165.0,
 1629645.0,
 1628372.0,
 1628975.0,
 1627780.0,
 1630169.0,
 1630184.0,
 1630175.0,
 1628988.0,
 1630558.0,
 1630200.0,
 1629216.0,
 203526.0,
 1629134.0,
 1630178.0,
 1630700.0,
 1630193.0,
 1630202.0,
 1630201.0,
 1630544.0,
 1630245.0,
 1629162.0,
 1630531.0,
 1630631.0,
 1631102.0,
 1630625.0,
 1630554.0,
 1629614.0,
 1630249.0,
 1630540.0,
 1630240.0,
 1630613.0,
 1630692.0,
 1630215.0,
 1630637.0,
 201935.0,
 202331.0,
 203078.0,
 202691.0,
 201569.0,
 1626164.0,
 203897.0,
 203095.0,
 203501.0,
 203506.0,
 202083.0,
 203903.0,
 1628378.0,
 203914.0,
 1627741.0,
 203484.0,
 203992.0,
 203925.0,
 202692.0,
 1626181.0,
 203115.0,
 1627747.0,
 1626196.0,
 203085.0,
 1628379.0,
 1629014.0,
 1629018.0,
 1627736.0,
 202066.0,
 1628404.0,
 203552.0,
 1630162.0,
 1629639.0,
 1628989.0,
 203200.0,
 1629673.0,
 1629001.0,
 1628370.0,
 1629652.0,
 1629659.0,
 1627936.0,
 1626192.0,
 1629640.0,
 1629013.0,
 1630171.0,
 1628960.0,
 1630224.0,
 1628978.0,
 1629680.0,
 1627788.0,
 1629022.0,
 1630591.0,
 1628972.0,
 1630581.0,
 1630170.0,
 1629622.0,
 1629638.0,
 1629611.0,
 1629006.0,
 1631093.0,
 1630559.0,
 1630182.0,
 1631097.0,
 1629660.0,
 1630547.0,
 1631101.0,
 1629003.0,
 1630541.0,
 1630217.0,
 1631098.0,
 1627814.0,
 1629723.0,
 1630553.0,
 1629599.0,
 1630528.0,
 1629656.0,
 1629669.0,
 1631207.0,
 1630198.0,
 1629726.0,
 1631103.0,
 1631128.0,
 1630241.0,
 1630699.0,
 1631104.0,
 1631111.0,
 1631212.0,
 1630598.0,
 201142.0,
 202695.0,
 202330.0,
 202710.0,
 201942.0,
 203114.0,
 201587.0,
 203952.0,
 2738.0,
 1627742.0,
 203490.0,
 1627759.0,
 202711.0,
 202694.0,
 201980.0,
 203082.0,
 204060.0,
 1629008.0,
 203926.0,
 203109.0,
 1626162.0,
 1628415.0,
 1628969.0,
 203933.0,
 1629130.0,
 1629631.0,
 203493.0,
 1626159.0,
 1629661.0,
 1626220.0,
 1626224.0,
 1630172.0,
 1629629.0,
 1627863.0,
 1630166.0,
 1628998.0,
 1628470.0,
 1629642.0,
 1630174.0,
 1628997.0,
 1630532.0,
 1630533.0,
 1630180.0,
 1630537.0,
 1630557.0,
 1629667.0,
 1629685.0,
 1630530.0,
 1631172.0,
 203648.0,
 1631114.0,
 1630552.0,
 1629670.0,
 1628966.0,
 1630534.0,
 1629052.0,
 1629139.0,
 1631323.0,
 1630231.0,
 1630230.0,
 1631107.0,
 1631116.0,
 1630587.0,
 1631216.0,
 1630573.0,
 1630556.0,
 1630577.0,
 1631169.0,
 1631133.0,
 1631298.0,
 1630647.0,
 2544.0,
 202699.0,
 203507.0,
 203084.0,
 203110.0,
 204001.0,
 201152.0,
 1627783.0,
 203932.0,
 203944.0,
 1628369.0,
 1627734.0,
 203924.0,
 203482.0,
 201145.0,
 203496.0,
 1628991.0,
 201949.0,
 1628381.0,
 202722.0,
 200782.0,
 1629627.0,
 1628371.0,
 1628374.0,
 1628963.0,
 1626204.0,
 203937.0,
 1628398.0,
 202693.0,
 1626171.0,
 203210.0,
 1627752.0,
 1628467.0,
 1627827.0,
 203967.0,
 1628449.0,
 1629060.0,
 1626168.0,
 1630596.0,
 1629634.0,
 1629684.0,
 1630567.0,
 1631094.0,
 1630167.0,
 1627777.0,
 1630188.0,
 1631095.0,
 1630228.0,
 1629020.0,
 1631099.0,
 1629643.0,
 1630197.0,
 1629026.0,
 1629647.0,
 1630173.0,
 1630192.0,
 1629731.0,
 1631110.0,
 1630183.0,
 1629676.0,
 1630539.0,
 1628427.0,
 1629626.0,
 1630543.0,
 1630586.0,
 1631106.0,
 1630264.0,
 1631222.0,
 1630526.0,
 1629117.0,
 1631223.0,
 1630225.0,
 1630550.0,
 1630570.0,
 1631254.0,
 1641645.0,
 1630233.0,
 201143.0,
 201567.0,
 203076.0,
 201933.0,
 203497.0,
 203954.0,
 203999.0,
 201572.0,
 1626157.0,
 201599.0,
 202696.0,
 203500.0,
 203083.0,
 202685.0,
 1626167.0,
 203991.0,
 1628389.0,
 1629028.0,
 201577.0,
 203994.0,
 202687.0,
 201959.0,
 201580.0,
 203469.0,
 203486.0,
 203476.0,
 203939.0,
 1628386.0,
 203086.0,
 1627751.0,
 203473.0,
 1628976.0,
 1626158.0,
 1627826.0,
 1626174.0,
 203458.0,
 1630164.0,
 1626149.0,
 1629011.0,
 1628380.0,
 1628464.0,
 1626172.0,
 1629057.0,
 1628418.0,
 203920.0,
 203488.0,
 1630168.0,
 1629637.0,
 1626163.0,
 1628392.0,
 1629675.0,
 1629655.0,
 1629021.0,
 1629048.0,
 1630191.0,
 1627745.0,
 1626195.0,
 1630194.0,
 1628436.0,
 1629111.0,
 1630578.0,
 1628981.0,
 1630208.0,
 1629002.0,
 1631105.0,
 1629234.0,
 1631109.0,
 1630214.0,
 1630549.0,
 1630583.0,
 1630209.0,
 1629646.0,
 1631117.0,
 1631119.0,
 1630579.0,
 1631132.0,
 1630572.0,
 1631115.0,
 1630568.0,
 1630695.0]

In [116]:
null_list=[]
for i in active_player_list['PERSON_ID']:
    if i not in merged['PERSON_ID'].tolist():
        null_list.append(i)